{% extends 'base.html' %}
{% block content %}
<h2>ამოცანები</h2>
<div class="list-group">
<a href="/solve/triangle" class="list-group-item">სამკუთხედის ფართობი (ჰერონი)</a>
<a href="/solve/quadratic" class="list-group-item">კვადრატული განტოლება</a>
<a href="/solve/circle" class="list-group-item">წრეწირის ფართობი და სიგრძე</a>
<a href="/solve/trapezoid" class="list-group-item">ტრაპეციის ფართობი</a>
</div>
<div class="alert alert-info mt-5">
    <strong>შენიშვნა:</strong>
    გვერდი დასრულებული არაა, მომავალში დაემატება უფრო მეტი პრობლემა, უფრო ზუსტი ამოხსნები და ა.შ.!
</div>

{% endblock %}